.search-wraper-deactive{width: 0;
overflow: hidden;
display: none;
}
.search-wraper-active{
    width: auto;

    display: block;
}

.serch-section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0px;

}
.search-box{
    padding: 0;
    margin: 0;
    width: 20%;
    margin-right:80px ;
}
.search-box input{
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid rgb(34, 34, 34);
    outline: none;
    font-size: 20px;
}
.search-btn button{
    font-size: 18px;
    padding: 5px 10px;
    background-color: #2b2b2b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.search-btn button:hover{
    color: #2b2b2b;
    background-color: rgb(255, 181, 132);
}